<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span id="jhon2">
        <h1>{{sal}}</h1>
        <ul>
            <li v-for="({quote,author}) in quotes">
                <span>{{ quote }}</span>
            </li>
        </ul>

        <ul>
            <li v-for="quote in quotes">
                <span>{{ quote.author }}</span>
            </li>
        </ul>

        <ul>
            <li v-for="({quote,author}) in quotesview">
                <span>{{ quote }}</span>
            </li>
        </ul>

        <ul>
            <li v-for="({quote,author}) in quotesview">
                <span>{{ author }}</span>
            </li>
        </ul>

        <button V-on:click="change">cambiar Texto</button>

    </span>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app2.js"></script>
</body>
</html>